#social {
    color: white;
}

#what, #where {
    background-color: rgb(0, 89, 159);
}

#where {
    margin-bottom: -1%;
}

#where > p {
    margin-left: 3%;
    margin-right: 3%;
}

.animate-fading{
    animation:fading 3s
}

.bassano-map {
    background-position: 50% 25%;
}

.border-spinner {
    border-radius: 50%;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.btn1 {
    border-radius: 100%;
}

.button-services {
    display: flex;
}

.card {
    margin: 3%;
    padding: 1%;
    background-color: rgb(0, 139, 149);
    border-radius: 5%;
    border-color: black;
}

.card-body {
    padding: 0%;
}

.card-text-animation {
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.card-title {
    margin-left: 3%;
    margin-top: 2%;
}

.carousel-card {
    display: inline-flex;
    align-items: center;
    width: 25%;
    height: 400px;
}

.carousel-card > img {
    height: 400px;
}

.carousel-img {
    height: 650px;
}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after .ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.ch-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.ch-info p {
    color: #fff;
    font-style: verdana;
    font-size: 12px;
    margin-top: 130px ;
    border-top: 2px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.2s;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-position: center;
    cursor: default;
    border: 10px solid rgb(122, 184, 0);
    border-right-color: rgb(0, 84, 159);
    border-bottom-color: rgb(0, 84, 159);
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.ch-item:hover {
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.ch-item:hover .card-text-animation p {
    opacity: 1;
}

.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}

.cosmico-map {
    background-position: 50% 40%;
}

.division-to-top {
    background: linear-gradient(to bottom, #008b95, 25%, #008b95bd, #00549f);
    height: 50px;
}

.division-to-bottom {
    background: linear-gradient(to top, #008b95, 25%, #008b95bd, #00549f);
    height: 50px;
}

.footer {
    background-color: black;
}

.header {
    text-decoration: white;
}

.leader-info {
    display: inline-flex;
    align-items: center;
    width: 27%;
    height: 730px;
    border: none;
    text-align: center;
}

.leader-info:hover .social{
    opacity: 1;
}

.logo {
    width: 100px;
    margin-right: 10px;
}

.nav-link {
    color: white!important;
}

.service-card {
    width: 26%;
    height: 470px;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow:inset 0 0 0 16px rgba(129,138,143,0.2),0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
    border-radius: 5%;
}

.service-card:hover {
    box-shadow:inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 2px rgba(0,0,0,0.1);
}   

.service-card:hover .card-text-animation {
    transform: scale(1);
    opacity: 1;
}

.social {
    display: inline-flex;
    list-style-type: none;
    opacity: 0;
}

.social > li {
    margin: 20%;
}

.social-group {
    margin-right: 40%;
}

.social-footer {
    margin-right: 4%;
}

.title {
    margin-left: 3%;
    margin-top: 1%;
}

.with-carousel {
    margin-left: 3%;
}

@keyframes fading{
    0%{opacity:0}
    100%{opacity:1}
}

@media screen and (max-width: 992px) {
    
    #img-engineering {
        height: 336px;
    }

    #img-mkers {
        height: 337px;
    }

    #img-sermetra {
        height: 338px;
    }

    .carousel-card {
        display: flex;
        align-items: center;
        width: 70%;
        height: 350px;
        margin-left: 13%;
    }

    .social > li {
        margin: 15%;
    }

    .social-group {
        margin-right: 35%;
    }
}

@media screen and (max-width: 720px) {
    #img-cloud {
        height: 350px;
    }

    #img-cyber-security {
        height: 330px;
    }

    .service-card {
        display: flex;
        width: 95%;
    }
}

@media screen and (max-width: 640px) {
    #img-cloud {
        height: 320px;
    }

    #img-cyber-security {
        height: 280px;
    }

    .leader-info {
        display: contents;
    }
}

@media screen and (max-width: 556px) {
    .social > li {
        margin: 10%;
    }

    .social-group {
        margin-right: 20%;
    }
}

a.nav-link::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

a.nav-link:hover::after {
    width: 100%;
}

body {
    background-color: rgb(0, 139, 149);
    color: white;
    font-family: Gotham, Verdana;  
}